html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family:'Roboto',sans-serif;
}

.navbar{
  text-transform: uppercase;
  padding: 12px;
  letter-spacing: 1px;

}
.first{
  padding-top: 140px;
  height: 10vh;
  min-height: 380px;
  background-size: cover;
  background-image: url('../Images/sac.jpg');
  background-position: center;
}

/*.avatar{
  color: #EEEEEE;
  position: relative;
  margin: auto;
  display: block;
  bottom: 130px;
}*/

#hr{
  margin-top: 50px;
  position: relative;
  top: 0;
  border: 0;
  height: 1px;
  width: 40%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black , rgba(0, 0, 0, 0));
}
